@charset "UTF-8";

/** 
 * Abobe Advanced CSS Drop-Down Menu Theme
 *
 * @file		default.advanced.css
 * @name		Adobe
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute
 *
 */

@import "default.css";


ul.dropdown li a { /* Moved from 'custom' section */
 display: block;
 padding: 7px 12px;
}


/* ------------- Override default */

ul.dropdown li {
 padding: 0;
}


/* ------------- Reinitiate default: post-override activities  */

ul.dropdown li.dir {
 padding: 7px 20px 7px 12px;
}

ul.dropdown ul li.dir {
 padding-right: 15px;
}


/* ------------- Custom */

ul.dropdown li {

}


/* Especially for IE6 or lower */

ul.dropdown ul a {
 padding: 4px 5px 4px 12px;
 /*width: 139px;*/
}

ul.dropdown ul a:hover {
 padding: 3px 5px 3px 11px;
 border: solid 1px #ddd;
 background-color: #eee;
 font-weight: bold;
}

ul.dropdown ul a.dir {
 /*width: 129px;*/
}