.stretch,.clear {
	clear: both;
	height: auto;
	margin: 0;
	padding: 0;
	font-size: 15px;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html>body .clearfix {
	display: inline-block;
	width: 100%;
}

* html .clearfix { /* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
}

body {
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 76%;
	line-height: 1em;
	color: #444;
	margin: 0;
	padding: 0;
	background: white url(images/background.gif) top left repeat-x;
	text-align: center;
}

div {
	font-size: 1em;
}

img {
	border: 0;
}
.imgAlign{
vertical-align: middle;	
}

/* LINKS */
a,a:link a:active {
	color: #1465b7;
	text-decoration: none;
}

a:visited {
	color: #1465b7;
	background-color: transparent;
}

a:hover {
	color: #cc0000;
	text-decoration: none;
}



/* END LINKS */ /* HEADINGS */
h1,h2,h3,h4,h5,h6 {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 6em;
	letter-spacing: -1px;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: #b4c24b;
}

div#branding h1 {
	font-size: 3em;
	letter-spacing: -1px;
	margin: 0;
	line-height: 1.5em;
	color: #3e9ade;
}

div#branding p {
	margin: 0;
	line-height: 1em;
}

h2 {
	font-size: 1.4em;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
	padding: 0;
}

h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: black;
}

h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

h5 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

h6 {
	font-size: 1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}
.header{
	font-size: 2em;
	letter-spacing: -1px;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: #b4c24b;	
}

/* END HEADINGS */ /* TEXT */
p {
	font-size: 1em;
	margin: 0 0 1.5em 0;
	padding: 0;
	line-height: 1.4em;
}

.quote {
	color: #333333;
	clear: both;
	background-color: #f9f9f9;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-color: #cccccc;
	border-top-style: solid;
	border-top-width: 1px;
	font-style: italic;
	line-height: 1.5em;
	margin-left:20px;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	text-align: justify;
	width:80%;
}

blockquote {
	margin-left: 10px;
}

.indented {
	margin-left: 10px;
}

pre {
	font-family: monospace;
	font-size: 12px;
}

strong,b, .strong {
	font-weight: bold;
}

em,i {
	font-style: italic;
}

code {
	font-family: "courier new", courier, monospace;
	font-size: 12px;
	white-space: pre;
}

/* END TEXT */
div.hr {
	height: 1px;
	margin: 1.5em 10px;
	border-bottom: 1px dotted black;
}

div#content {
	position: relative;
	width: 900px;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: left;
}

div#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

/* HEADER */
div#header {
	margin: 0 0 5em 0;
	padding: 6px 0 2px 10px;
	text-align: left;
	height: 50px; /* needed by IE 7 */
}

div#branding {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0px 0 10px 0px;
	text-align: center;
}

div#tagline {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0px;
	text-align: center;
}

/* MAIN */
div#main {
	margin: 0 auto;
	width: 100%;
}

div#main form ul li {
	list-style-type: none;
	margin: 0 auto;
}

/* SEARCH */
#gissearch {
	margin: 0 auto;
	margin-bottom: 20px;
}

#searchlinks {
	display: block;
	font-size: 1.5em;
	margin: 5px 5px 30px 5px;
	text-align: center;
}

#simplesearch  {
	margin: 0 auto;
	width: 480px;
}

#searchleftblock {
	float: left;
	margin: 0 auto;
}

#searchbuttonbar {
	margin: 0 auto;
	padding-top: 5px;
	text-align: center;
}

#searchexample {
	
}

#tooltip {
	margin: 0 auto;
	padding-left: 10px;
	float: left;
	text-align: left;
	width: 180px;
}

#advancedsearch {
	text-align: left;
	width: 70%;
	margin: 40px auto;
	clear: both;
}

#advancedsearch legend {
	font-size: 1.2em;
}

.searchfield {
	margin-top: 15px;
	margin: 10px;
	display: block;
 	float: left;
}

.searchfieldlabel {
	display: inline;
	float: left;
	width: 100px;
}

.advancedsearchcat {
	font-size: 1.4em;
	clear: both;
}

/* END SEARCH */
.divider {
	margin: 0 0 4px 0;
	border-top: 1px solid #CCCCCC;
}

.divider div {
	border-top: 6px solid #EBF5FC;
	margin: 1px 0 0 0;
}

.tip {
	line-height : 1.2em;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding: 10px;
	padding-left: 20px;
	text-align: left;
	width: 80%;
}

.yellowtip {
	background-color: #FFFFCE;
	border: 1px solid #F0C000;
}

.bluetip {
background-color:#EBF5FC;
border:1px solid #000099;
}

.greentip{
background-color:#DDFFDD;
border:1px solid #009900;
}

.redtip{
background-color:#FFCCCC;
border:1px solid #CC0000;
}

div#footer {
	color: #444;
	font-size: 0.9em;
	padding: 0 39px;
	text-align: left;
}

div#footer .left {
	float: left;
}

div#footer .right {
	float: right;
}

form {
	font-size: .9em;
}

fieldset {
	color: #444;
	margin: 0 0 5px 0;
	padding: 10px 10px 5px 10px;
}

legend {
	color: #444;
	font-weight: bold;
	margin: 0 0 0 0;
}

#popupResults{
	
}


#popupContainer {
	background-color: #EEEEEE;
	border:3px double #000;
	height: auto;
	left : 150px;
	position: absolute;
	top: -50px;
	width:700px;
	z-index: 500;
	}

div#searchResults {
background-color: #EEEEEE;
height: 300px;
margin:0px auto;
overflow: auto;
padding:0px;
width:700px;
}

.headerResults{
background: white url(images/background.gif) top left repeat-x;
border:1px solid #000;
clear : both;
font-size: 1.3em;
height: 20px;
margin:0px auto;
padding-left : 5px;
padding-top: 10px;
width :693px;
}

 .headerResultsLabel{
float : left;
font-size: 1.3em;
margin:0px auto;
}

.closeLabel{
float: right;
padding-right: 5px;
}

.closeButton {
	background-color: #DDDDDD;
	border : 1px solid;
	font-weight: bold;
	margin : 0;
	padding:  0;
}


div#searchResults .bodyResults{
background-color: #EEEEEE;
height: auto;
margin:10px auto;
padding:5px;
width:600px;
}
div#searchResults .flag{
float:left;
height: 80px;
}

.flag img{
vertical-align:middle;
width:50px;
}

div#searchResults .resultblock{
float:left;
margin-left:5px;
margin-top:5px;
width:540px;
}

div#searchResults .resultheaderleft{
float:left;
font-size: 1.3em;
}

div#searchResults .resultheaderright{
float:right;
}

div#searchResults .separator {
float:left;
width:540px;
}

div#searchResults .summary {
float:left;
width:540px;
}

a.greenlink {
color:#008000;
}


.importantMessage{
font-size:2em;
margin-left:5px;
}

.bigText {
font-size:1.5em;
line-height: 1em;
}

.spell{
font-size:1.3em;
color:#FF0000;
margin-left : 15px;
}

.spellLink ,.spellLink:Hover,.spellLink:active, .spellLink:visited {
color :#0000FF;
font-size:1.6em;
font-style: italic;
text-decoration: underline ;
}

.biggertext {
font-size: 1.2em;
margin : auto auto;
}

.center{
margin:auto auto;
text-align: center;
width:100%;
}

.donateBtn {
vertical-align:middle;
width:55px
}

.forminstructions{
clear:left;
font-size: 1.2em;
margin : auto auto;
text-align: left;
}

.error{
font-weight: bold;
font-size: 1.4em;
color:#CC0000;
display: inline;
float: left;
}

.importantred{
font-size: 1.4em;
color:#CC0000;
display: inline;
}

.red{
color:#CC0000;
}

.underline {
text-decoration: underline ;
}

.imagenumberlist {
vertical-align:middle;
width:25px;
margin : 5px;
}

.streetautocompleteerror {
	border-left: 10px 
	margin-left: 10px;
	margin-bottom : 10px;
}

.googlemapInfoWindowHtml {
width: 250px; 
height: 190px;
text-align:center;background:white url(images/background.gif) repeat-x scroll left top;
color:#444444;
font-family:verdana,arial,helvetica,sans-serif;
line-height:1em;
margin:0;
padding:0;
text-align:center;
padding-top:5px;
}

.listspace {
line-height:1.3em;
margin-bottom:15px;
}