body {
  padding-top: 60px;
}

#map {
  height:313px;
  margin-bottom:20px;
}

.geocoder-result pre {
  max-height:300px;
  overflow:auto;
}

.marker-legend {
  height:20px;
  width:20px;
  margin:8px 8px 0 0;
  border:solid 2px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  float:left;
  opacity:0.8;
}